<footer class="footer">
    <div class="container">
        <nav class="footer-nav">
            <ul>
                <li class="menu--item__footer"><a class="menu--link__footer" href="#">Mentions Légales</a></li>
                <li class="menu--item__footer"><a class="menu--link__footer" href="#">Politique de confidentalité</a></li>
            </ul>
        </nav>
    </div>
</footer>