<header class="header">
    <div class="container container__large">
        <picture class="header__logo">
            <img src="{{ asset('build/images/logo-black.svg') }}" alt="Logo Dev obs">
        </picture>
        <nav class="main-nav">
            <button class="toggle-menu" aria-controls="main-menu" aria-expanded="false">
                <span class="bar first-bar"></span>
                <span class="bar second-bar"></span>
                <span class="bar third-bar"></span>
                <span class="screen-reader-text">Menu</span>
            </button>
            <ul class="menu main-menu" id="main-menu" hidden>
                <li class="menu-item"><a href="#" class="menu-link">Accueil</a></li>
                <li class="menu-item"><a href="#" class="menu-link">Les offres</a></li>
                <li class="menu-item"><a href="#" class="button button--primary">Connexion</a></li>
                <li class="menu-item"><a href="#" class="button button--secondary">Inscription</a></li>
            </ul>
        </nav>

    </div>

</header>