.button{
  display: inline-block;
  padding: 0.6rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;

  font-size: 1.6rem;
  font-family: 'Raleway', serif;

  position: relative;
  overflow: hidden;

  cursor: pointer;

  @include mediaquery($small){
    font-size: 1.8rem;
  }

  &.button--primary{
    color: var(--white);
    border: 1px solid var(--red);
    z-index: 1;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--red);
      -webkit-transition: all .3s;
      transition: all .3s;
      z-index: -2;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--white);
      z-index: -1;
      transition: all .3s;
    }

    &:hover{
      color: var(--red);
      &::after{
        width: 100%;
      }
    }
  }

  &.button--secondary{
    color: var(--red);
    border: 1px solid var(--red);
    z-index: 1;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      -webkit-transition: all .3s;
      transition: all .3s;
      z-index: -2;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--red);
      z-index: -1;
      transition: all .3s;
    }

    &:hover{
      color: var(--white);
      &::after{
        width: 100%;
      }
    }
  }

  &.button--tertiary{
    color: var(--black);
    border: 1px solid var(--black);
    z-index: 1;
    &::before{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--white);
      -webkit-transition: all .3s;
      transition: all .3s;
      z-index: -2;
    }
    &::after{
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: var(--black);
      z-index: -1;
      transition: all .3s;
    }

    &:hover{
      color: var(--white);
      &::after{
        width: 100%;
      }
    }
  }
}

.see__more{
  margin-top: 5rem;

  display: flex;
  justify-content: center;

  @include mediaquery($medium){
    justify-content: flex-end;
  }

  a{
    text-decoration: underline;
    font-size: 1.8rem;
    cursor: pointer;
    @include mediaquery($medium){
      font-size: 2rem;
    }
  }
}
