html{
  font-size: 10px;
}

.screen-reader-text{
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

a{
  font-family: 'Raleway', serif;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 400;

  @include mediaquery($small){
    font-size: 1.8rem;
  }
}