.banner{
  padding: 13rem 0;
  position: relative;

  @include mediaquery($medium){
    padding: 18rem 0;
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  h1{
    background-color: rgba(34,34,34, 0.6);
    display: inline;

    position: relative;
    z-index: 2;
  }

  &.banner__offer{
    background-image: url('/public/build/images/offer-banner.jpg');

  }

  &.banner__societe{
    background-image: url('/public/build/images/society-banner.jpg');
  }

  &.banner__candidat{
    background-image: url('/public/build/images/candidat-banner.jpg');

  }

  &.banner__home{
    background-image: url("/public/build/images/home-banner.jpg");
  }
}